@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
body {
	background-image: url("fondo.jpg");
	background-color: #ccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Gugi', cursive;
	color: #FFF;
	text-shadow: 2px 2px 2px black;
}
img {
	overflow: hidden;
	border-radius: 50%;
	border: 5px solid #FFF;
	display: block;
	margin: auto
}
.contenedor {
  padding: 70px 0;
  text-align: center;
}