@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
body {
 background-image: url("fondo.jpg");
 background-color: #cccccc;
 background-position: center; 
 background-repeat: no-repeat; 
 background-size: cover; 
 font-family: 'Londrina Solid', cursive;
 text-align: center;
}